
@{
    ViewData["Title"] = "Advice";
}

<h1>Health Articles</h1>
@*adds content to the webpage*@
<p>
    Click on the relevant images to view a health article
</p>

@*adds a hyperlinked image to the webpage*@
<a href="https://www.nhs.uk/conditions/asthma/">
    <img src="../NewFolder/inhaler.jpg" alt="Inhaler" height=120 width=120 />
</a>

@*adds a hyperlinked image to the webpage*@
<a href="https://www.nhs.uk/conditions/flu/">
    <img src="../NewFolder/flu.jpg" alt="A person with a fever" height=120 width=120 />
</a>


