
@{
    ViewData["Title"] = "Advice";
}

<h1>Health Articles</h1>

<p>

    <a href="https://www.nhs.uk/conditions/asthma/">
        <img src="../NewFolder/inhaler.jpg" alt="Inhaler" height=120 width=120 />
    </a>

    <a href="https://www.nhs.uk/conditions/flu/">
        <img src="../NewFolder/flu.jpg" alt="A person with a fever" height=120 width=120 />
    </a>

</p>

