
@{
    ViewData["Title"] = "Air";
}

@*Adds a heading tp the webpage*@
<h1>Air Quality</h1>

@*adds content to the webpage*@
<p>
    Click on the image to view Air Quality data in your area.

</p>

@*adds a hyperlinked image to the webpage*@
<a href="https://uk-air.defra.gov.uk/">
    <img src="../NewFolder/air.jpg" alt="A scientist wearing a maske whilst monitoring the air quality" height=120 width=120 />
</a>
