@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*formats and adds a heading to the webpage*@
    <h1 class="display-4">Health Advice Group</h1>

    @*adds content to the webpage*@
    <p>Welcome to our digital healthcare service! </p>

    @*Adds an image to the webpage*@
    <img src="../NewFolder/doctors.jpeg" 
    alt="Image of three doctors smiling at the camera" width=1500 />

</div>
