@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>
    Last Updated: [31.01.24] <br />
    <br />
    Welcome to Health Advice Group's Privacy Policy. At Health Advice Group, we are committed to protecting the privacy and security of
    your personal information. This Privacy Policy explains how we collect, use, and disclose your personal information when you use our
    website, mobile application, or any other online services provided by Health Advice Group (collectively referred to as the "Services").
    By accessing or using our Services, you agree to the terms of this Privacy Policy.
    <br />
    <br />
    Information We Collect:
    <br />
    a. Personal Information:<br />
    We may collect personal information such as your name, email address, and contact details when you register for our Services or contact us.
    <br />
    b. Health Information: <br />
    To provide personalized health advice, we may collect information about your health conditions, symptoms, and any environmental factors
    that may impact your health.
    <br />
    c. Device and Usage Information:<br />
    We collect information about your device, browser, and how you interact with our Services, including IP addresses, device identifiers, and
    browsing history.
    <br />
    <br />
    How We Use Your Information:<br />
    a. Provide Health Advice:<br />
    We use your personal and health information to offer personalized health advice, considering environmental factors like weather that may
    affect your health conditions.
    <br />
    b. Communications:<br />
    We may use your contact information to send you important updates, newsletters, and promotional materials related to our Services. You can
    opt-out of these communications at any time.
    <br />
    c. Improve and Personalize Services:<br />
    We analyze user data to enhance and personalize our Services, improving user experience and tailoring health advice based on individual
    needs.
    <br />
    d. Legal Compliance:<br />
    We may use and disclose your information as required by law, regulation, or legal process.
    <br />
    <br />
    Information Sharing: <br />
    a. Third-Party Service Providers:<br />
    We may share your information with third-party service providers who assist us in delivering our Services, such as hosting, analytics, and
    customer support.
    <br />
    b. Legal Requirements:<br />
    We may disclose your information if required by law or in response to valid requests by public authorities.
    <br />
    <br />
    Data Security:<br />
    We implement reasonable security measures to protect your personal information. However, no method of transmission over the internet or
    electronic storage is completely secure.
    <br />
    <br />
    Your Choices:<br />
    You have the right to access, correct, or delete your personal information. You can also opt-out of certain communications.
    <br />
    <br />
    Updates to this Privacy Policy:<br />
    We may update this Privacy Policy from time to time. Any changes will be posted on our website, and the date of the last update will be
    revised accordingly.
    <br />
    <br />
    Contact Us:<br />
    If you have any questions, concerns, or requests regarding this Privacy Policy, please contact us at [contact@healthadvicegroup.com].
    By using our Services, you acknowledge that you have read and understood this Privacy Policy.
    <br />

</p>
