
@{
    ViewData["Title"] = "Terms";
}

<h1>Terms and Conditions</h1>
<p>

    Last Updated: 31.01.24
    <br />
    <br />
    Acceptance of Terms:
    <br />
    By accessing or using the services provided by Health Advice Group, you agree to comply with and be bound by these Terms and
    Conditions. If you do not agree with any part of these terms, you may not use our services.
    <br />
    <br />
    Services:
    <br />
    Health Advice Group provides advice on health conditions exacerbated by environmental factors, such as weather. Our services are
    intended for informational purposes only and should not be considered a substitute for professional medical advice, diagnosis, or
    treatment.
    <br />
    <br />
    Registration:
    <br />
    In order to access certain features of our services, you may be required to register and provide accurate and current information
    about yourself. You are responsible for maintaining the confidentiality of your account credentials.
    <br />
    <br />
    Privacy:
    <br />
    Your use of our services is governed by our Privacy Policy. By using our services, you consent to the collection, use, and disclosure
    of your personal information as described in the Privacy Policy.
    <br />
    <br />
    Health Information:
    <br />
    Health Advice Group relies on the information provided by users to offer personalized health advice. It is essential to provide accurate
    and truthful information about your health conditions and any environmental factors that may impact your health.
    <br />
    <br />
    Disclaimer:
    <br />
    The advice provided by Health Advice Group is not a substitute for professional medical advice, diagnosis, or treatment. Users are
    encouraged to consult with qualified healthcare professionals for medical concerns.
    <br />
    <br />
    Limitation of Liability:
    <br />
    Health Advice Group shall not be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in any
    way connected with the use of our services.
    <br />
    <br />
    Intellectual Property:
    <br />
    All content and materials provided by Health Advice Group, including but not limited to text, graphics, logos, and software, are the
    property of Health Advice Group and are protected by intellectual property laws.
    <br />
    <br />
    Governing Law:
    <br />
    These Terms and Conditions are governed by the laws of the United Kingdom. Any disputes arising under or in connection with these terms
    shall be subject to the exclusive jurisdiction of the courts of the United Kingdom.
    <br />
    <br />
    Changes to Terms:
    <br />
    Health Advice Group reserves the right to update or modify these Terms and Conditions at any time. Users will be notified of such changes,
    and continued use of our services constitutes acceptance of the modified terms.
    <br />
    <br />
    Contact Us:
    <br />
    If you have any questions or concerns about these Terms and Conditions, please contact us at [contact@healthadvicegroup.co.uk].
    <br />
    <br />
    By using our services, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.


</p>

