
@{
    ViewData["Title"] = "Weather";
}
@*adds a title to the webpage*@
<h1>Weather Forecast</h1>

@*adds text content to the webpage*@
<p> 
    Click on the image to view the weather forecast.
</p>

@*adds a hyperlinked image to the webpage*@
<a href="https://www.metoffice.gov.uk/weather/forecast/uk">
    <img src="../NewFolder/weather.jpg" alt="A TV presenter providing the weather forecast" height=120 width=120 />
</a>