
@{
    ViewData["Title"] = "Weather";
}

<h1>Weather Forecast</h1>

<p> Click on the image to view the weather forecast.

</p>

<a href="https://www.metoffice.gov.uk/weather/forecast/uk">
    <img src="../NewFolder/weather.jpg" alt="A TV presenter providing the weather forecast" height=120 width=120 />
</a>